DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/Acordia?schema=public"

PORT=

JWT_SECRET="change-me-with-at-least-32-characters!!"
JWT_EXPIRES_IN="1h"
REFRESH_TOKEN_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:5173"

UPLOAD_MAX_SIZE_MB=20
UPLOAD_ALLOWED_TYPES="application/pdf"