# Dependencies
node_modules/
package-lock.json


# Build outputs
dist/
build/
coverage/
tmp/
.temp/
.tmp/

# Prisma generated client (custom output in schema.prisma)
generated/prisma/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files (keep .env.example committed)
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# TypeScript
*.tsbuildinfo

# Package managers
.pnpm-store/

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

prisma/migrations
prisma/migrations/**