# Nestjs specific
/dist
/node_modules
/build
/tmp

# Coverage
/coverage

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Editor/OS files
.DS_Store
.idea
.vscode
*.swp

# temp directory
.temp
.tmp

prisma/migrations/*
prisma/migrations/**